[init]
	defaultBranch = main

[pull]
	ff = only

[fetch]
	prune = true

[rerere]
	enabled = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
